body {
  background-color: #171745;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 4em;
  color: aqua;
}

h2 {
  font-size: 2em;
  color: #2a2a5e;
}

h3 {
  color: #2a2a5e;
}

main {
  background-color: #82c4d9;
  width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.question-containers {
  display: none;
}

#submit {
  display: none;
  color: #171745;
  font-size: large;
}

#next {
  color: #171745;
  font-size: large;
}

.question-containers input {
  margin-left: 30px;
}

#buttons-container input {
  margin: 30px auto;
}
